<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PRACTICA EMBEBIDOS</title>
</head>
<body>

<h1>PRACTICA EMBEBIDOS</h1>
<h2>HISTORIAL DE UN PULSADOR</h2>
<img id="imagen" src="https://www.diarioelectronicohoy.com/blog/imagenes/2019/03/conectar_ap-300x176.jpg" alt="user">
<h1>ESTADOS DEL PULSADOR:</h><h id="sensor"><br>--</h1>
<br>
<button id = 'control'type="button" onclick="control();"> HISTORIAL
</button>
</body>
</html>
